/* CSS Import */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400;500;600;700;800;900&display=swap');

/* CSS Variables */
:root {
  /* == Colors == */
  --c-yellow: #EAE31A;
  --c-dark-grey: #1E1E1E;
  --c-black: #000;

  --c-text-grey-1: #ACACAC;
  --c-text-grey-2: #989898;
  --c-text-grey-3: #5F5E63;
  --c-text-white: #fff;
  --c-text-light: #F1F2EC;


  --c-bg-light: #F3F4EE;
  --c-bg-dark: #2E2E2E;

  --c-gradient-left: #292929;
  --c-gradient-right: #000;

  /* == Font stuff == */
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-extrabold: 800;
  --fw-black: 900;

  --ff-sans: 'Nunito', sans-serif;
  --ff-serif: 'Alegreya', serif;

  --fs-h1: 16rem;
  --fs-h2: 8.875rem;
  --fs-h2-smaller: 8.875rem;
}

/* Global Styles */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--c-gradient-left);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--c-yellow);
  border-radius: 10rem;
  transition: 250ms ease;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-sans);
  background-color: #F3F4EE;
  overflow-x: hidden;
}

h1,
h2 {
  font-family: var(--ff-serif);
}

h1 {
  font-weight: var(--fw-black);
}

h2 {
  font-weight: var(--fw-bold);
}

img {
  width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
}

a {
  color: var(--c-black);
  text-decoration: none;
}

/* Helper Classes */
.container {
  max-width: 72.5rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1.875rem;
}

.filled-btn,
.outline-btn {
  padding: .225em 0.625em;
  border: 2px solid var(--btn-clr);
  border-radius: 10px;
  transition: 150ms ease;
  display: inline-block;
}

.filled-btn {
  --btn-clr: var(--c-yellow);
  background-color: var(--c-yellow);
}

.filled-btn:hover {
  background-color: transparent;
  color: var(--c-text-white);
}

.outline-btn {
  --btn-clr: var(--c-text-white);
  color: var(--btn-clr);
}

.outline-btn:hover {
  background-color: var(--btn-clr);
  color: var(--c-text-grey-3);
}

.desc {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.desc h2 {
  font-size: 5rem;
  font-weight: var(--fw-black);
  line-height: 5.25rem;
  color: var(--clr-d);
}

.desc p {
  color: var(--clr-d);
  margin-top: 1.5rem;
}

.desc .outline-btn {
  --btn-clr: var(--clr-d);
  margin-top: 1.25rem;
}

/* ========== Navigation ========== */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5.875rem;
  padding: 0 1.875rem;
  position: relative;
  z-index: 15;
}

.nav-logo {
  width: 8rem;
}

.nav-menu {
  display: flex;
  visibility: hidden;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: var(--c-text-white); */
  background-color: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(1rem);
  gap: 5rem;
  clip-path: circle(0% at 91.5% 7.5%);
  transition: clip-path .5s ease, visibility 2s;
  z-index: 100;
}

.nav-menu a:not(.filled-btn):hover {
  opacity: 0.65;
}

nav.open .nav-menu {
  visibility: visible;
  clip-path: circle(200% at 91.5% 7.5%);
  transition: clip-path 1.5s ease, visibility 2s;
}

nav.open .mobile-nav-toggle div {
  background-color: #000;
  transition: all 350ms ease;
}

nav.open .mobile-nav-toggle .top {
  transform: rotate(45deg) translate(-1px, -2px);
}

nav.open .mobile-nav-toggle .mid {
  opacity: 0;
}

nav.open .mobile-nav-toggle .bot {
  transform: rotate(-45deg);
  transform-origin: bottom left;
}

.nav-sections,
.login-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.nav-sections {
  position: relative;
}

.nav-sections::after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 2px;
  opacity: 25%;
  background-color: var(--c-black);
}

.active {
  position: relative;
}

.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -.25rem;
  width: 100%;
  height: 2px;
  background-color: black;
}

.right-side {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.shopping-cart {
  width: 1.5rem;
  display: flex;
}

.mobile-nav-toggle {
  width: 1.5rem;
  height: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 100;
}

.mobile-nav-toggle div {
  width: 100%;
  height: 2px;
  background-color: white;
  border-radius: 5rem;
  transition: all 1s ease;
}

.top {
  transform: rotate(0deg) translate(0, 0);
  transform-origin: top left;
}

.mid {
  opacity: 1;
}

.bot {
  transform: rotate(0deg);
  transform-origin: bottom left;
}

/* Nav mediaqueries */
@media (min-width: 44.625rem) {
  /* ========== Navigation ========== */
  .nav-menu {
    display: flex;
    visibility: visible;
    clip-path: none;
    position: initial;
    width: 100%;
    justify-content: center;
    margin-right: 3.375rem;
    background-color: initial;
    backdrop-filter: initial;
    height: 100%;
    flex-direction: row;
  }

  .mobile-nav-toggle {
    display: none;
  }

  .nav-sections,
  .login-options {
    flex-direction: row;
  }

  .nav-sections::after {
    display: none;
  }

  .nav-sections {
    margin-left: auto;
    gap: 2.75rem;
  }

  .nav-sections a,
  .login-options a {
    color: var(--c-text-white);
  }

  a.active {
    color: var(--c-yellow);
  }

  .active::after {
    background-color: var(--c-yellow);
    bottom: -1rem;
  }

  .login-options {
    margin-left: auto;
    gap: 1.5rem;
  }

  .login-options .filled-btn {
    color: #000;
  }

  .login-options .filled-btn:hover {
    color: var(--c-text-white);
  }
}

/* ========== Footer Section ========== */
footer {
  background-image: linear-gradient(to bottom, #171717, var(--c-gradient-right));
}

footer,
footer .container a {
  color: var(--c-text-light);
  transition: 150ms ease;
}

footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

footer .container ul {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;

  margin-bottom: 3.375rem;
  gap: 1rem;
}

footer .container ul::after {
  content: "";
  position: absolute;
  bottom: -2rem;
  left: 50%;
  transform: translateX(-50%);
  width: 400%;
  height: 2px;
  background-color: #363636;
}

footer .rights-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

footer .footer-other-links a:hover {
  color: var(--c-yellow);
}

footer .footer-social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2em;
  height: 2em;
  background-color: #1E1E1E;
  border-radius: 50%;
  font-size: 1.5rem;
}

footer .footer-social-links a:hover {
  background-color: #383838;
  color: var(--c-yellow);
}

/* Footer mediaqueries */
@media (min-width: 53.125rem) {
  footer {
    background-image: linear-gradient(to bottom right, #171717, var(--c-gradient-right));
  }

  footer .container {
    display: grid;
    justify-content: space-between;
    grid-template-areas: "terms rights social";
  }

  footer .container ul {
    margin-bottom: initial;
    flex-direction: row;
  }

  footer .container ul::after {
    display: none;
  }

  footer .footer-other-links {
    grid-area: terms;
  }

  footer .rights-group {
    grid-area: rights;
    flex-direction: row;
  }

  footer .footer-social-links {
    grid-area: social;
  }

  footer .footer-social-links a {
    font-size: 1rem;
  }

  footer .footer-social-links a:hover {
    transform: translateY(-5px);
  }

  footer .rights-group p:first-child {
    /* background-color: red; */
    position: relative;
  }

  footer .rights-group p:first-child::after {
    content: "";
    position: absolute;
    top: 0;
    right: -.55rem;
    width: 2px;
    height: 100%;
    background-color: var(--c-text-light);
    opacity: .50;
  }
}

/* User navigation */
.login-options .user {
  color: var(--c-text-white);
  position: relative;
  cursor: pointer;
  text-decoration: underline;
}

.login-options .user:hover {
  text-decoration: none;
}

.login-options .user .user-options {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 150%;
  left: 50%;
  transform: translateX(-50%);
  width: 175%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  gap: .5rem;
  background-color: white;
  box-shadow: 0px 15px 64px 1px rgba(0, 0, 0, .1);
  border-radius: 7px;
  transition: 150ms ease;
  padding: 1rem .5rem;
}

.login-options .user .user-options > div {
  color: #171717;
}

.login-options .user .user-options > div:hover {
  color: #ACACAC;
}

.login-options .user:hover .user-options {
  visibility: visible;
  opacity: 1;
}

.login-options .user .user-options:before {
  content: "";
  position: absolute;
  top: -1rem;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
}

@media (max-width: 44.5625rem) {
  .login-options .user {
    color: #000;
  }
}