/* ========== Main Section ========== */
header {
  /* height: 100vh; */
  background-image: linear-gradient(to bottom right, var(--c-gradient-left), var(--c-gradient-right));
  overflow: hidden;
}

main {
  --section-clr: var(--c-text-grey-1);
  color: var(--section-clr);
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .laptop-img {
  width: 17rem;
  margin-top: 1.5rem;
  position: relative;
  z-index: 1;
}

main .laptop-img img {
  filter: drop-shadow(8px 11px 15px rgba(0, 0, 0, 0.25));
}

main .laptop-img::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  z-index: -1;
  background-color: var(--c-yellow);
}

main .desc {
  --clr-d: var(--c-text-grey-1);
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

main .desc h2 {
  font-weight: var(--fw-bold);
  font-size: 1.5rem;
  margin-bottom: -2rem;
  line-height: initial;
}

main .desc h1 {
  font-size: 5rem;
  color: var(--c-yellow);
}

main .desc p {
  margin-top: -.5rem;
  max-width: 32rem;
}

main .desc .btn-group {
  margin-top: 1.85rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

main .desc .btn-group a {
  margin-top: 0;
  width: 8rem;
}

main .desc .btn-group .outline-btn {
  --clr-d: var(--c-text-light);
}

/* Content */
.fridge-section .fridge-img img,
.phone-section .phone-img img,
.game-section .game-img img {
  filter: drop-shadow(-6px 29px 35px rgba(0, 0, 0, 0.25));
}

/* ========== Fridge Section ========== */
.fridge-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 5rem;
  padding-bottom: 14.5rem;
}

.fridge-section .fridge-img {
  width: 11.5rem;
  margin-bottom: 1.5rem;
}

.fridge-section .desc {
  --clr-d: var(--c-text-grey-3);
}

.fridge-section .desc .outline-btn:hover {
  color: var(--c-text-light);
}

/* ========== Phone Section ========== */
.phone-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 14.5rem;
  background-image: linear-gradient(to bottom right, var(--c-gradient-left), var(--c-gradient-right));
}

.phone-section .phone-img {
  width: 12.375rem;
  margin-top: -8rem;
  margin-bottom: 1.5rem;
}

.phone-section .desc {
  --clr-d: var(--c-text-light);
}

.phone-section .desc h2 {
  font-size: 4rem;
  max-width: 19rem;
  line-height: 3.625rem;
}

.phone-section .desc h2 span {
  color: var(--c-yellow);
}

/* ========== Game Section ========== */
.game-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 6rem;
}

.game-section .game-img {
  width: 21.25rem;
  margin-top: -8rem;
}

.game-section .desc {
  --clr-d: var(--c-text-grey-3);
}

/* ========== Testimonials Section ========== */
.testimonials-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 6rem;
}

.testimonials-section .desc {
  --clr-d: var(--c-text-grey-3);
  margin-bottom: 4rem;
}

.testimonials-section .desc h2 {
  font-size: 4rem;
  line-height: 3.625rem;
}

.testimonials-section .carousel {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonials-section .carousel-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: var(--c-text-grey-3);
  color: var(--c-text-light);
  cursor: pointer;

  position: relative;
  z-index: 1000;
}

.testimonials-section .carousel-container {
  width: 100%;
  max-width: 40rem;
  display: grid;
  place-items: center;
  grid-template-areas: "mid";
}

.testimonials-section .carousel-card {
  opacity: 0;
  height: 15rem;
  border-radius: 7px;
  /* width: 33%; */
  width: 12rem;
  transform: scale(.5) translateX(0);
  transition: 500ms ease;
  grid-area: mid;
  background-color: var(--c-text-white);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem .70rem;
}

.card-header {
  display: flex;
  gap: .5rem;
  align-items: center;
  justify-content: center;
}

.card-header .card-img {
  width: 3rem;
  height: 3rem;
  overflow: hidden;
  border-radius: 50%;
}

.card-header .card-desc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card-header .card-desc .card-name {
  color: #5F5E63;
}

.card-header .card-desc .card-title {
  color: #939198;
  font-size: .75rem;
}

.card-content {
  text-align: center;
  font-size: .85rem;
  color: #5F5E63;
}

.testimonials-section .carousel-card.left {
  z-index: 10;
  transform: scale(1) translateX(-10rem);
  opacity: .80;
}

.testimonials-section .carousel-card.middle {
  z-index: 100;
  transform: scale(1.2) translateX(0);
  box-shadow: 0px 5px 20px 0px rgb(0 0 0 / 10%);
  opacity: 1;
}

.testimonials-section .carousel-card.right {
  z-index: 10;
  transform: scale(1) translateX(10rem);
  opacity: .80;
}

/* ========== Contact Section ========== */
.contact-section {
  background-color: #2E2E2E;
}

.contact-section .container {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 4rem;
  padding-bottom: 4rem;
}

.contact-section h2 {
  color: var(--c-text-light);
  text-align: center;
  font-size: 3.5rem;
  font-weight: var(--fw-black);
  margin-bottom: 1.5rem;
}

.contact-section form {
  width: 100%;
  max-width: 25rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contact-section form label {
  color: var(--c-text-light);
  margin-bottom: 5px;
}

.contact-section form #email {
  margin-bottom: 1.5rem;
}

.contact-section form input,
.contact-section form textarea {
  width: 100%;
  border: none;
  outline: none;
  background-color: #161616;
  border: 1px solid #161616;
  color: var(--c-text-light);
  padding: .5rem;
  border-radius: 7px;
  font-family: var(--ff-sans);
}

.contact-section form input:focus-within,
.contact-section form textarea:focus-within {
  border: 1px solid var(--c-yellow);
}

.contact-section .filled-btn {
  background-color: var(--c-yellow);
  color: #000;
  width: 5rem;
  padding: .35rem .75rem;
  font-size: 1rem;
  font-weight: var(--fw-medium);
  margin-top: 1.5rem;
  cursor: pointer;
  border: 2px solid var(--c-yellow);
}

.contact-section .filled-btn:hover {
  background-color: transparent;
  color: var(--c-text-light);
}



/* ========== Media Queries ========== */
/* == Small Laptop / Tablet == */
/* - Navigation */
/* - Main Section */
@media only screen and (min-width: 44.625rem) {

  /* ========== Main Section ========== */
  header {
    position: relative;
  }

  main {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  header::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 35%;
    background-image: linear-gradient(to right, transparent, rgba(2 2 2 / 90%));
    z-index: 10;
  }

  main .laptop-img {
    width: 100%;
    max-width: 74rem;
    margin-right: -10rem;
    margin-top: 0;
  }

  main .laptop-img::before {
    display: none;
  }

  main .desc {
    margin-top: 0;
    text-align: left;
    align-items: flex-start;
  }

  main .desc h2 {
    font-size: 1.5rem;
    margin-bottom: -1rem;
  }

  main .desc h1 {
    font-size: 5rem;
  }

  main .desc .btn-group {
    justify-content: flex-start;
  }

  main .desc .btn-group a {
    text-align: center;
    width: 10rem;
  }

  /* Content Section */

  .page-content {
    position: relative;
    overflow: hidden;
  }

  .page-content::before {
    content: "";
    position: absolute;
    top: 0rem;
    left: -9rem;
    width: 325rem;
    /* height: 59rem; */
    height: 62rem;
    background-image: linear-gradient(to bottom right, var(--c-gradient-left), var(--c-gradient-right));
    transform: rotate(45deg);
    transform-origin: top left;
    z-index: -10;
  }

  .fridge-section,
  .phone-section,
  .game-section {
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
    padding-top: initial;
    padding-bottom: initial;
    /* height: 110vh; */
  }

  .fridge-section .desc,
  .phone-section .desc,
  .game-section .desc {
    max-width: 28rem;
  }

  .fridge-section .desc h2,
  .phone-section .desc h2,
  .game-section .desc h2 {
    font-size: 4.5rem;
    line-height: 60px;
  }

  /* ========== Fridge Section ========== */
  .fridge-section .desc {
    align-items: flex-end;
    text-align: right;
  }

  .fridge-section .desc h2 {
    max-width: 30rem;
  }

  .fridge-section .fridge-img {
    width: 27rem;
    margin-left: -11rem;
    margin-bottom: initial;
  }

  /* ========== Phone Section ========== */
  .phone-section {
    flex-direction: row-reverse;
    background-image: initial;
  }

  .phone-section .desc {
    align-items: flex-start;
    text-align: left;
  }

  .phone-section .desc h2 {
    max-width: 35rem;
  }

  .phone-section .phone-img {
    margin-top: initial;
    margin-bottom: initial;
    width: 22rem;
    margin-right: -10rem;
  }

  /* ========== Game Section ========== */
  .game-section .desc {
    --clr-d: var(--c-text-light);
    align-items: flex-end;
    text-align: right;
  }

  .game-section .desc h2 {
    max-width: 30rem;
  }

  .game-section .game-img {
    margin-top: initial;
    margin-bottom: initial;
    width: 75rem;
    margin-left: -55rem;
  }

  /* ========== Testimonials ========== */
  .testimonials-section .desc h2 {
    font-size: 4rem;
    max-width: 40rem;
    line-height: 70px;
  }
}

/* X -Diagonal */
@media only screen and (min-width: 46.875rem) {
  .page-content::before {
    top: 0;
    left: -16rem;
  }
}

/* X -Diagonal */
@media only screen and (min-width: 60rem) {
  .page-content::before {
    top: 0;
    left: -6rem;
  }
}

/* X -Diagonal */
@media only screen and (min-width: 75rem) {
  .page-content::before {
    top: -10rem;
    left: -5rem;
  }
}

/* X -Diagonal */
@media only screen and (min-width: 101rem) {
  .page-content::before {
    top: -10rem;
    left: 8rem;
  }
}

/* X -Diagonal */
@media only screen and (min-width: 126rem) {
  .page-content::before {
    top: -20rem;
    left: 16rem;
  }
}

/* X -Diagonal */
@media only screen and (min-width: 162.5rem) {
  .page-content::before {
    top: -25rem;
    left: 25rem;
  }
}

/* - Container */
@media only screen and (min-width: 102.5rem) {

  /* Helper */
  .container {
    padding: 0;
  }

  .testimonials-section {
    padding-bottom: 6rem;
  }
}

/* - Main Section */
@media only screen and (min-width: 75rem) {
  header {
    height: 100vh;
  }

  main {
    height: calc(100vh - 5.875rem);
    position: relative;
    bottom: 0;
  }

  main .desc h2 {
    font-size: 2rem;
    margin-bottom: -2rem;
  }


  main .desc h1 {
    font-size: 10rem;
  }
}


/* == Smaller - Mobile == */
@media only screen and (max-width: 28.125rem) {

  .fridge-section .desc h2,
  .phone-section .desc h2,
  .game-section .desc h2,
  .testimonials-section .desc h2 {
    font-size: 3rem;
    line-height: 2.625rem;
  }

  .page-content {
    overflow-x: hidden;
  }
}

@media only screen and (max-width: 20rem) {

  .game-section .game-img {
    width: 15rem;
    margin-top: -5rem;
  }

  .contact-section h2 {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 17rem) {
  main .desc .btn-group {
    flex-direction: column;
  }
}

/* === ✨Accents✨ === */
/* Header section */
main .desc h2 {
  position: relative;
}

main .desc h2::after {
  content: "";
  position: absolute;

  right: 1.85rem;
  bottom: -1.75rem;
  width: 4rem;

  height: 2rem;
  background-image: url("../img/site-accents/underline-grey.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

@media only screen and (min-width: 74.9375rem) {
  main .desc h2::after {
    right: 2.75rem;
    bottom: -1.75rem;
    width: 5rem;
  }
}

/* Fridge section */
/* -- Fridge underline */
.fridge-section .desc h2 {
  position: relative;
}

.fridge-section .desc h2::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -2rem;
  width: 17rem;
  height: 2rem;
  background-image: url("../img/site-accents/underline-light.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

@media only screen and (max-width: 44.5625rem) {
  .fridge-section .desc h2::after {
    bottom: -1.5rem;
  }
}

@media only screen and (max-width: 37.6875rem) {
  .fridge-section .desc h2::after {
    right: 50%;
    transform: translateX(50%);
    width: 19rem;
  }
}

@media only screen and (max-width: 28.125rem) {
  .fridge-section .desc h2::after {
    right: -0.75rem;
    bottom: -1.95rem;
    width: 12rem;
    transform: translateX(0);
  }
}

@media only screen and (max-width: 24.125rem) {
  .fridge-section .desc h2::after {
    right: 50%;
    transform: translateX(50%);
  }
}

/* -- Fridge dots */
.fridge-section .fridge-img {
  position: relative;
}

.fridge-section .fridge-img::after {
  content: "";
  position: absolute;
  bottom: -4rem;
  right: -1rem;
  width: 10rem;
  height: 10rem;
  background-image: url("../img/site-accents/dots-white.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -10;
}

@media only screen and (max-width: 44.5625rem) {
  .fridge-section .fridge-img::after {
    background-image: url("../img/site-accents/dots-black.svg");
    width: 4.5rem;
    height: 4.5rem;
    bottom: -1rem;
    left: -2rem;
  }

  .fridge-section .fridge-img::before {
    content: "";
    position: absolute;
    top: -2rem;
    right: -2rem;
    width: 4.5rem;
    height: 4.5rem;
    transform: rotate(45deg);
    background-image: url("../img/site-accents/dots-black.svg");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -10;
  }
}

/* Phone section */
/* -- Phone dots */
.phone-section .phone-img {
  position: relative;
  z-index: 10;
}

.phone-section .phone-img::after {
  content: "";
  position: absolute;
  bottom: -2rem;
  left: -4rem;
  width: 10rem;
  height: 10rem;
  transform: rotate(45deg);
  background-image: url("../img/site-accents/dots-white.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -10;
}

@media only screen and (max-width: 44.5625rem) {
  .phone-section .phone-img::after {
    width: 4.5rem;
    height: 4.5rem;
    left: initial;
    right: -2rem;
    bottom: 0;
  }
}

/* Game section */
/* -- Game underline */
.game-section .desc h2 {
  position: relative;
  line-height: 4.5rem;
}

.game-section .desc h2::after {
  content: "";
  position: absolute;
  top: 4rem;
  right: 6.5rem;
  width: 10rem;
  height: 2rem;
  background-image: url("../img/site-accents/underline-yellow.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

@media only screen and (max-width: 44.5625rem) {
  .game-section .desc h2::after {
    background-image: url("../img/site-accents/underline-light.svg");
    right: initial;
    left: 0;
    top: 4.5rem;
  }
}

@media only screen and (max-width: 38.125rem) {
  .game-section .desc h2::after {
    left: 35%;
    transform: translateX(-50%);
  }
}

@media only screen and (max-width: 28.125rem) {
  .game-section .desc h2::after {
    transform: translateX(0);
    left: -0.5rem;
    top: 4rem;
    width: 6.5rem;
  }
}

@media only screen and (max-width: 24.375rem) {
  .game-section .desc h2 {
    line-height: 3.5rem;
  }
  
  .game-section .desc h2::after {
    width: 7rem;
    left: 37%;
    transform: translateX(-50%);
    top: 3rem;
  }
}

@media only screen and (max-width: 14.375rem) {
  .game-section .desc h2::after {
    left: 50%;
    transform: translateX(-50%);
  }

  .game-section .desc h2 {
    line-height: 3rem;
  }
}

/* -- Game dots */
.game-section .game-img {
  position: relative;
  z-index: 10;
}

.game-section .game-img::after {
  content: "";
  position: absolute;
  right: 3rem;
  bottom: 7rem;
  width: 10rem;
  height: 10rem;
  transform: rotate(45deg);
  background-image: url("../img/site-accents/dots-black.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -10;
}

@media only screen and (max-width: 44.5625rem) {
  .game-section .game-img::after {
    right: initial;
    left: -1rem;
    bottom: 1rem;
    width: 4.5rem;
    height: 4.5rem;
  }
}



/* Testimonial section */
/* -- Testimonial underline */
.testimonials-section .desc h2 {
  position: relative;
}

.testimonials-section .desc h2::after {
  content: "";
  position: absolute;
  bottom: -1.75rem;
  right: 2.25rem;
  width: 13rem;
  height: 2rem;
  background-image: url("../img/site-accents/underline-light.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

@media only screen and (max-width: 44.5625rem) {
  .testimonials-section .desc h2::after{
    right: 50%;
    transform: translateX(135%);
  }
}

@media only screen and (max-width: 38.875rem) {
  .testimonials-section .desc h2::after{
    transform: translateX(50%);
  }
}

@media only screen and (max-width: 28.5625rem) {
  .testimonials-section .desc h2::after{
    transform: translateX(68%);
  }
}

@media only screen and (max-width: 28.125rem) {
  .testimonials-section .desc h2::after{
    transform: translateX(50%);
    bottom: -1.75rem;
    width: 11rem;
  }
}

@media only screen and (max-width: 22.375rem) {
  .testimonials-section .desc h2::after{
    transform: translateX(68%);
  }
}

@media only screen and (max-width: 16.875rem) {
  .testimonials-section .desc h2::after{
    transform: translateX(50%);
  }
}


/* -- Testimonial dots */
.testimonials-section {
  position: relative;
  overflow: hidden;
}

.testimonials-section::after {
  content: "";
  position: absolute;
  right: 2rem;
  bottom: 4rem;
  width: 7rem;
  height: 7rem;
  transform: rotate(45deg);
  background-image: url("../img/site-accents/dots-grey.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -10;
  opacity: .5;
}

@media only screen and (max-width: 58rem) {
  .testimonials-section::after {
    right: -5rem;
  }
}

@media only screen and (max-width: 32rem) {
  .testimonials-section::after {
    bottom: 0;
  }
}



/* Contact form section */
.contact-section form {
  position: relative;
}

.contact-section form::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-28rem, -60%);
  width: 15rem;
  height: 15rem;
  background-image: url("../img/site-accents/arrow.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (max-width: 41rem) {
  .contact-section form::after {
    display: none;
  }
}
