body {
  background-color: var(--c-text-white);
  overflow: hidden;
  min-height: 100vh;
  position: relative;
}

body::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 80%;
  max-width: 47.5rem;
  height: 85%;
  background-image: url("../img/login-page/bg-elements.svg");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: -10;
}

/* Nav edit */
.mobile-nav-toggle div {
  background-color: #000;
}

@media (min-width: 44.625rem) {
  .nav-sections a,
  .login-options a {
    color: #171717;
  }

  .active::after {
    background-color: #171717;
  }

  .login-options .filled-btn:hover {
    color: #171717;
  }
}

.nav-sections::after {
  display: none;
}

/* Options */
.options {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.options > li {
  color: #6e6e6e;
  cursor: pointer;
  padding: .5rem 1rem;
}

.options > li:hover {
  opacity: .75;
}

.options .active-option {
  color: white;
}

.highlight {
  transition: all 200ms;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 10px;
  display: block;
  background-color: #171717;
}

.input-group-row {
  display: flex;
  flex-direction: row;
  gap: 4rem;
}

.input-group {
  display: flex;
  flex-direction: column;
}

.form-container {
  display: grid;
  place-items: center;
}

.form-container form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 3rem;
  box-shadow: 0px 15px 64px 1px rgba(0, 0, 0, .1);
  border-radius: 1.5rem;
  width: 100%;
  max-width: 35rem;
  background-color: var(--c-text-white);
}

label {
  margin-bottom: 3px;
}

input {
  border-radius: 7px;
  border: 1px solid #CBCBCB;
  padding: 0.625rem 0.75rem;
  background-color: transparent;
}

input[type="submit"] {
  align-self: flex-start;
  border: 2px solid #171717;
  padding: .5rem 1rem;
  background-color: #171717;
  color: var(--c-text-white);
  cursor: pointer;
  transition: 150ms ease;
}

input[type="submit"]:hover {
  background-color: transparent;
  color: #171717;
}

.forms {
  display: grid;
  grid-template: 1fr / 1fr;
  margin-top: 3rem;
}

.forms > .form-container {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

form.log-in,
form.sign-in {
  transform: translateX(0) scale(1);
  opacity: 1;
  transition: all 250ms ease;
}

.sign-in-active form.log-in{
  transform: translateX(20rem) scale(.5);
  opacity: 0;
}

.log-in-active form.sign-in {
  transform: translateX(-20rem) scale(.5);
  opacity: 0;
}