/* Other */
body {
  /* background-image: linear-gradient(to bottom right, #FFF, #F3F4EE); */
  background-image: linear-gradient(to bottom right, #FFF, #eaeed7);
}

/* Small nav edits */

.mobile-nav-toggle div {
  background-color: #000;
}

@media (min-width: 44.625rem) {
  .nav-sections a,
  .login-options a {
    color: #171717;
  }

  .active::after {
    background-color: #171717;
  }

  .login-options .filled-btn:hover {
    color: #171717;
  }
}


.shopping-cart {
  filter: brightness(0);
}

/* main {
  min-height: 100vh;
} */

/* Content section */
.content h2 {
  font-size: 2.5rem;
  font-weight: var(--fw-black);
  line-height: 2.5rem;
}

.products-container {
  margin-top: 1rem;
  margin-bottom: 2rem;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "phone laptop laptop fridge"
    "phone console console fridge";
  align-items: center;
}

.products-container .phone {
  grid-area: phone;
}
.products-container .laptop {
  grid-area: laptop;
}
.products-container .console {
  grid-area: console;
}
.products-container .fridge {
  grid-area: fridge;
}

.products-container > li {
  display: grid;
  place-items: center;
  position: relative;

  border: 1px solid #e6e6e6;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.products-container > li:hover .product-desc,
.products-container > li:focus-within .product-desc {
  visibility: visible;
  clip-path: circle(100% at 50% 50%);
}

.products-container > li .product-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  visibility: hidden;
  clip-path: circle(0% at 50% 50%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: .90;
  transition: 750ms ease;
  text-align: center;
  padding: 1rem;
  color: var(--c-text-light);
}

.products-container > li .product-desc h4 {
  font-size: 1.5rem;
}

.products-container > li .product-desc p {
  max-width: 20rem;
}

.phone .product-img {
  width: 10rem;
}
.laptop .product-img {
  width: 15rem;
}
.console .product-img {
  width: 20rem;
}
.fridge .product-img {
  width: 12rem;
}

@media (max-width: 48rem) {
  .products-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
    "phone laptop"
    "console fridge";
  }
}

@media (max-width: 42rem) {
  .phone .product-img {
    width: 6rem;
  }
  .laptop .product-img {
    width: 12rem;
  }
  .console .product-img {
    width: 12rem;
  }
  .fridge .product-img {
    width: 8rem;
  }
}

@media (max-width: 35rem) {
  .products-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
    "phone"
    "laptop"
    "console"
    "fridge";
  }
}

.login-options .user {
  color: #171717;
}