/* CSS Import */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400;500;600;700;800;900&display=swap');

/* CSS Variables */
:root {
  /* == Colors == */
  --c-yellow: #EAE31A;
  --c-dark-grey: #1E1E1E;
  --c-black: #000;

  --c-text-grey-1: #989898;
  --c-text-grey-2: #5F5E63;
  --c-text-white: #fff;


  --c-bg-light: #F3F4EE;
  --c-bg-dark: #2E2E2E;

  --c-gradient-left: #292929;
  --c-gradient-right: #000;

  /* == Font stuff == */
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-extrabold: 800;
  --fw-black: 900;

  --ff-sans: 'Nunito', sans-serif;
  --ff-serif: 'Alegreya', serif;

  --fs-h1: 16rem;
  --fs-h2: 8.875rem;
  --fs-h2-smaller: 8.875rem;
}

/* Global Styles */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-sans);
}

img {
  width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
}

a {
  color: var(--c-black);
  text-decoration: none;
}

/* Helper Classes */
.container{}

.filled-btn {
  --btn-clr: var(--c-yellow);
  padding: .225em 0.625em;
  border: 2px solid var(--btn-clr);
  background-image: linear-gradient(to right, var(--c-yellow) 50%, transparent 50%);
  background-size: 200%;
  background-position: left center;
  border-radius: 10px;
}

.filled-btn {
  background-position: right center;
}

/* ========== Navigation ========== */
nav {
  background-color: var(--c-dark-grey);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5.875rem;
  padding: 0 1.875rem;
}

.nav-logo {
  width: 8rem;
}

.nav-menu {
  display: none;
}

.nav-sections {
  display: flex;
}

.login-options {
  display: flex;
}

.right-side {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.shopping-cart {
  width: 1.5rem;
  display: flex;
}

.mobile-nav-toggle {
  width: 1.5rem;
  height: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mobile-nav-toggle div {
  width: 100%;
  height: 2px;
  background-color: white;
  border-radius: 5rem;
}

/* ========== Media Queries ========== */
@media (min-width: 640px) {
  /* ========== Navigation ========== */
  .nav-menu {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-right: 3.375rem;
  }

  .mobile-nav-toggle {
    display: none;
  }

  .nav-sections {
    margin-left: auto;
    gap: 2.75rem;
  }
  
  .nav-sections a {
    color: var(--c-text-white);
  }
  
  .login-options {
    margin-left: auto;
    gap: 1.5rem;
  }
  
  .login-options a{
    color: var(--c-text-white);
  }

  .login-options .filled-btn {
    color: #000;
  }
}