/* CSS Import */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400;500;600;700;800;900&display=swap');

/* CSS Variables */
:root {
  /* == Colors == */
  --c-yellow: #EAE31A;
  --c-dark-grey: #1E1E1E;
  --c-black: #000;

  --c-text-grey-1: #ACACAC;
  --c-text-grey-2: #989898;
  --c-text-grey-3: #5F5E63;
  --c-text-white: #fff;
  --c-text-light: #F1F2EC;


  --c-bg-light: #F3F4EE;
  --c-bg-dark: #2E2E2E;

  --c-gradient-left: #292929;
  --c-gradient-right: #000;

  /* == Font stuff == */
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-extrabold: 800;
  --fw-black: 900;

  --ff-sans: 'Nunito', sans-serif;
  --ff-serif: 'Alegreya', serif;

  --fs-h1: 16rem;
  --fs-h2: 8.875rem;
  --fs-h2-smaller: 8.875rem;
}

/* Global Styles */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-sans);
  background-color: #F3F4EE;
  overflow-x: hidden;
}

h1, h2 {
  font-family: var(--ff-serif);
}

h1 {
  font-weight: var(--fw-black);
}

h2 {
  font-weight: var(--fw-bold);
}

img {
  width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
}

a {
  color: var(--c-black);
  text-decoration: none;
}

/* Helper Classes */
.container{
  max-width: 102.5rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1.875rem;
}

.filled-btn,
.outline-btn {
  padding: .225em 0.625em;
  border: 2px solid var(--btn-clr);
  border-radius: 10px;
  transition: 150ms ease;
  display: inline-block;
}

.filled-btn {
  --btn-clr: var(--c-yellow);
  background-color: var(--c-yellow);
}

.filled-btn:hover {
  background-color: transparent;
  color: var(--c-text-white);
}

.outline-btn {
  --btn-clr: var(--c-text-white);
  color: var(--btn-clr);
}

.outline-btn:hover {
  background-color: var(--btn-clr);
  color: var(--c-text-grey-3);
}

.desc {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.desc h2 {
  font-size: 5rem;
  font-weight: var(--fw-black);
  line-height: 5.25rem;
  color: var(--clr-d);
}

.desc p {
  color: var(--clr-d);
  margin-top: 1.5rem;
}

.desc .outline-btn {
  --btn-clr: var(--clr-d);
  margin-top: 1.25rem;
}

/* ========== Navigation ========== */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5.875rem;
  padding: 0 1.875rem;
  position: relative;
  z-index: 15;
}

.nav-logo {
  width: 8rem;
}

.nav-menu {
  display: flex;
  visibility: hidden;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: var(--c-text-white); */
  background-color: rgba(255,255,255,0.75);
  backdrop-filter: blur(1rem);
  gap: 5rem;
  clip-path: circle(0% at 91.5% 7.5%);
  transition: clip-path .5s ease, visibility 2s;
  z-index: 100;
}

.nav-menu a:not(.filled-btn):hover {
  opacity: 0.65;
}

nav.open .nav-menu {
  visibility: visible;
  clip-path: circle(200% at 91.5% 7.5%);
  transition: clip-path 1.5s ease, visibility 2s;
}

nav.open .mobile-nav-toggle div {
  background-color: #000;
  transition: all 350ms ease;
}

nav.open .mobile-nav-toggle .top {
  transform: rotate(45deg) translate(-1px, -2px);
}

nav.open .mobile-nav-toggle .mid {
  opacity: 0;
}

nav.open .mobile-nav-toggle .bot {
  transform: rotate(-45deg);
  transform-origin: bottom left;
}

.nav-sections,
.login-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.nav-sections {
  position: relative;
}

.nav-sections::after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 2px;
  opacity: 25%;
  background-color: var(--c-black);
}

.active {
  position: relative;
}

.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -.25rem;
  width: 100%;
  height: 2px;
  background-color: black;
}

.right-side {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.shopping-cart {
  width: 1.5rem;
  display: flex;
}

.mobile-nav-toggle {
  width: 1.5rem;
  height: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 100;
}

.mobile-nav-toggle div {
  width: 100%;
  height: 2px;
  background-color: white;
  border-radius: 5rem;
  transition: all 1s ease;
}

.top {
  transform: rotate(0deg) translate(0, 0);
  transform-origin: top left;
}

.mid {
  opacity: 1;
}

.bot {
  transform: rotate(0deg);
  transform-origin: bottom left;
}

/* ========== Main Section ========== */
header {
  /* height: 100vh; */
  background-image: linear-gradient(to bottom right, var(--c-gradient-left), var(--c-gradient-right));
}

main {
  --section-clr: var(--c-text-grey-1);
  color: var(--section-clr);
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .laptop-img {
  width: 17rem;
  margin-top: 1.5rem;
  position: relative;
  z-index: 1;
}

main .laptop-img img {
  filter: drop-shadow(8px 11px 15px rgba(0,0,0,0.25));
}

main .laptop-img::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  z-index: -1;
  background-color: var(--c-yellow);
}

main .desc {
  --clr-d: var(--c-text-grey-1);
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

main .desc h2{
  font-weight: var(--fw-bold);
  font-size: 1.5rem;
  margin-bottom: -2rem;
  line-height: initial;
}

main .desc h1{
  font-size: 5rem;
  color: var(--c-yellow);
}

main .desc p {
  margin-top: -.5rem;
  max-width: 32rem;
}

main .desc .btn-group {
  margin-top: 1.85rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

main .desc .btn-group a {
  margin-top: 0;
  width: 8rem;
}

main .desc .btn-group .outline-btn {
  --clr-d: var(--c-text-light);
}

/* ========== Fridge Section ========== */
.fridge-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 5rem;
  padding-bottom: 14.5rem;
}

.fridge-section .fridge-img {
  width: 11.5rem;
  margin-bottom: 1.5rem;
}

.fridge-section .desc {
  --clr-d: var(--c-text-grey-3);
}

/* ========== Fridge Section ========== */
.phone-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 5.625rem;
  background-image: linear-gradient(to bottom right, var(--c-gradient-left), var(--c-gradient-right));
}

.phone-section .phone-img {
  width: 12.375rem;
  margin-top: -8rem;
  margin-bottom: 1.5rem;
}

.phone-section .desc {
  --clr-d: var(--c-text-light);
}

.phone-section .desc h2 {
  font-size: 4rem;
  max-width: 19rem;
  line-height: 3.625rem;
}

.phone-section .desc h2 span {
  color: var(--c-yellow);
}



/* ========== Media Queries ========== */
/* == Small Laptop / Tablet == */
/* - Navigation */
/* - Main Section */
@media (min-width: 44.625rem) {

  /* ========== Navigation ========== */
  .nav-menu {
    display: flex;
    visibility: visible;
    clip-path: none;
    position: initial;
    width: 100%;
    justify-content: center;
    margin-right: 3.375rem;
    background-color: initial;
    backdrop-filter: initial;
    height: 100%;
    flex-direction: row;
  }

  .mobile-nav-toggle {
    display: none;
  }

  .nav-sections,
  .login-options {
    flex-direction: row;
  }

  .nav-sections::after {
    display: none;
  }

  .nav-sections {
    margin-left: auto;
    gap: 2.75rem;
  }

  .nav-sections a,
  .login-options a {
    color: var(--c-text-white);
    /* font-size: 1.25rem; */
  }

  a.active {
    color: var(--c-yellow);
  }

  .active::after {
    background-color: var(--c-yellow);
    bottom: -1rem;
  }
  
  .login-options {
    margin-left: auto;
    gap: 1.5rem;
  }

  .login-options .filled-btn {
    color: #000;
  }

  .login-options .filled-btn:hover {
    color: var(--c-text-white);
  }

  /* ========== Main Section ========== */
  header {
    position: relative;
  }

  main {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  header::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 35%;
    background-image: linear-gradient(to right, transparent, rgba(2 2 2 / 90%));
    z-index: 10;
  }

  main .laptop-img {
    width: 100%;
    max-width: 74rem;
    margin-right: -10rem;
  }

  main .laptop-img::before {
    display: none;
  }

  main .desc {
    text-align: left;
  }

  main .desc h2 {
    font-size: 2rem;
    margin-bottom: -1rem;
  }

  main .desc h1 {
    font-size: 5rem;
  }

  main .desc .btn-group {
    justify-content: flex-start;
  }

  main .desc .btn-group a {
    text-align: center;
    width: 10rem;
  }
}

/* - Container */
@media (min-width: 102.5rem) {
  /* Helper */
  .container {
    padding: 0;
  }
}

/* == Small Desktop == */
/* - Main Section */
@media (min-width: 75rem) {
  header {
    height: 100vh;
  }

  main {
    height: calc(100vh - 5.875rem);
    position: relative;
    bottom: 0;
  }

  main .desc h2 {
    font-size: 2rem;
    margin-bottom: -2rem;
  }
  

  main .desc h1 {
    font-size: 10rem;
  }
}