/* CSS Import */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400;500;600;700;800;900&display=swap');

/* CSS Variables */
:root {
  /* == Colors == */
  --c-yellow: #EAE31A;
  --c-dark-grey: #1E1E1E;
  --c-black: #000;

  --c-text-grey-1: #ACACAC;
  --c-text-grey-2: #989898;
  --c-text-grey-3: #5F5E63;
  --c-text-white: #fff;
  --c-text-light: #F1F2EC;


  --c-bg-light: #F3F4EE;
  --c-bg-dark: #2E2E2E;

  --c-gradient-left: #292929;
  --c-gradient-right: #000;

  /* == Font stuff == */
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-extrabold: 800;
  --fw-black: 900;

  --ff-sans: 'Nunito', sans-serif;
  --ff-serif: 'Alegreya', serif;

  --fs-h1: 16rem;
  --fs-h2: 8.875rem;
  --fs-h2-smaller: 8.875rem;
}

/* Global Styles */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--c-gradient-left);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--c-yellow);
  border-radius: 10rem;
  transition: 250ms ease;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-sans);
  background-color: #F3F4EE;
  overflow-x: hidden;
}

h1,
h2 {
  font-family: var(--ff-serif);
}

h1 {
  font-weight: var(--fw-black);
}

h2 {
  font-weight: var(--fw-bold);
}

img {
  width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
}

a {
  color: var(--c-black);
  text-decoration: none;
}

/* Helper Classes */
.container {
  max-width: 72.5rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1.875rem;
}

.filled-btn,
.outline-btn {
  padding: .225em 0.625em;
  border: 2px solid var(--btn-clr);
  border-radius: 10px;
  transition: 150ms ease;
  display: inline-block;
}

.filled-btn {
  --btn-clr: var(--c-yellow);
  background-color: var(--c-yellow);
}

.filled-btn:hover {
  background-color: transparent;
  color: var(--c-text-white);
}

.outline-btn {
  --btn-clr: var(--c-text-white);
  color: var(--btn-clr);
}

.outline-btn:hover {
  background-color: var(--btn-clr);
  color: var(--c-text-grey-3);
}

.desc {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.desc h2 {
  font-size: 5rem;
  font-weight: var(--fw-black);
  line-height: 5.25rem;
  color: var(--clr-d);
}

.desc p {
  color: var(--clr-d);
  margin-top: 1.5rem;
}

.desc .outline-btn {
  --btn-clr: var(--clr-d);
  margin-top: 1.25rem;
}

/* ========== Navigation ========== */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5.875rem;
  padding: 0 1.875rem;
  position: relative;
  z-index: 15;
}

.nav-logo {
  width: 8rem;
}

.nav-menu {
  display: flex;
  visibility: hidden;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: var(--c-text-white); */
  background-color: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(1rem);
  gap: 5rem;
  clip-path: circle(0% at 91.5% 7.5%);
  transition: clip-path .5s ease, visibility 2s;
  z-index: 100;
}

.nav-menu a:not(.filled-btn):hover {
  opacity: 0.65;
}

nav.open .nav-menu {
  visibility: visible;
  clip-path: circle(200% at 91.5% 7.5%);
  transition: clip-path 1.5s ease, visibility 2s;
}

nav.open .mobile-nav-toggle div {
  background-color: #000;
  transition: all 350ms ease;
}

nav.open .mobile-nav-toggle .top {
  transform: rotate(45deg) translate(-1px, -2px);
}

nav.open .mobile-nav-toggle .mid {
  opacity: 0;
}

nav.open .mobile-nav-toggle .bot {
  transform: rotate(-45deg);
  transform-origin: bottom left;
}

.nav-sections,
.login-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.nav-sections {
  position: relative;
}

.nav-sections::after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 2px;
  opacity: 25%;
  background-color: var(--c-black);
}

.active {
  position: relative;
}

.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -.25rem;
  width: 100%;
  height: 2px;
  background-color: black;
}

.right-side {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.shopping-cart {
  width: 1.5rem;
  display: flex;
}

.mobile-nav-toggle {
  width: 1.5rem;
  height: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 100;
}

.mobile-nav-toggle div {
  width: 100%;
  height: 2px;
  background-color: white;
  border-radius: 5rem;
  transition: all 1s ease;
}

.top {
  transform: rotate(0deg) translate(0, 0);
  transform-origin: top left;
}

.mid {
  opacity: 1;
}

.bot {
  transform: rotate(0deg);
  transform-origin: bottom left;
}

/* ========== Main Section ========== */
header {
  /* height: 100vh; */
  background-image: linear-gradient(to bottom right, var(--c-gradient-left), var(--c-gradient-right));
  overflow: hidden;
}

main {
  --section-clr: var(--c-text-grey-1);
  color: var(--section-clr);
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .laptop-img {
  width: 17rem;
  margin-top: 1.5rem;
  position: relative;
  z-index: 1;
}

main .laptop-img img {
  filter: drop-shadow(8px 11px 15px rgba(0, 0, 0, 0.25));
}

main .laptop-img::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  z-index: -1;
  background-color: var(--c-yellow);
}

main .desc {
  --clr-d: var(--c-text-grey-1);
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

main .desc h2 {
  font-weight: var(--fw-bold);
  font-size: 1.5rem;
  margin-bottom: -2rem;
  line-height: initial;
}

main .desc h1 {
  font-size: 5rem;
  color: var(--c-yellow);
}

main .desc p {
  margin-top: -.5rem;
  max-width: 32rem;
}

main .desc .btn-group {
  margin-top: 1.85rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

main .desc .btn-group a {
  margin-top: 0;
  width: 8rem;
}

main .desc .btn-group .outline-btn {
  --clr-d: var(--c-text-light);
}

/* ========== Fridge Section ========== */
.fridge-section .fridge-img img,
.phone-section .phone-img img,
.game-section .game-img img {
  filter: drop-shadow(-6px 29px 35px rgba(0, 0, 0, 0.25));
}

.fridge-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 5rem;
  padding-bottom: 14.5rem;
}

.fridge-section .fridge-img {
  width: 11.5rem;
  margin-bottom: 1.5rem;
}

.fridge-section .desc {
  --clr-d: var(--c-text-grey-3);
}

/* ========== Phone Section ========== */
.phone-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 14.5rem;
  background-image: linear-gradient(to bottom right, var(--c-gradient-left), var(--c-gradient-right));
}

.phone-section .phone-img {
  width: 12.375rem;
  margin-top: -8rem;
  margin-bottom: 1.5rem;
}

.phone-section .desc {
  --clr-d: var(--c-text-light);
}

.phone-section .desc h2 {
  font-size: 4rem;
  max-width: 19rem;
  line-height: 3.625rem;
}

.phone-section .desc h2 span {
  color: var(--c-yellow);
}

/* ========== Game Section ========== */
.game-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 6rem;
}

.game-section .game-img {
  width: 21.25rem;
  margin-top: -8rem;
}

.game-section .desc {
  --clr-d: var(--c-text-grey-3);
}

/* ========== Testimonials Section ========== */
.testimonials-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 6rem;
}

.testimonials-section .desc {
  --clr-d: var(--c-text-grey-3);
  margin-bottom: 4rem;
}

.testimonials-section .desc h2 {
  font-size: 4rem;
  line-height: 3.625rem;
}

.testimonials-section .carousel {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonials-section .carousel-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: var(--c-text-grey-3);
  color: var(--c-text-light);
  cursor: pointer;
}

.testimonials-section .carousel-container {
  width: 100%;
  max-width: 40rem;
  display: grid;
  place-items: center;
  grid-template-areas: "mid";
}

.testimonials-section .carousel-card {
  opacity: 0;
  height: 15rem;
  border-radius: 7px;
  width: 33%;
  transform: scale(.5) translateX(0);
  transition: 500ms ease;
  grid-area: mid;
}

.testimonials-section .carousel-card.left,
.testimonials-section .carousel-card.middle,
.testimonials-section .carousel-card.right {
  opacity: 1;
}

.testimonials-section .carousel-card.left {
  z-index: 10;
  transform: scale(1) translateX(-10rem);
}

.testimonials-section .carousel-card.middle {
  z-index: 100;
  transform: scale(1.2) translateX(0);
}

.testimonials-section .carousel-card.right {
  z-index: 10;
  transform: scale(1) translateX(10rem);
}

/* ========== Contact Section ========== */
.contact-section {
  background-color: #2E2E2E;
}

.contact-section .container {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 4rem;
  padding-bottom: 4rem;
}

.contact-section h2 {
  color: var(--c-text-light);
  text-align: center;
  font-size: 3.5rem;
  font-weight: var(--fw-black);
  margin-bottom: 1.5rem;
}

.contact-section form {
  width: 100%;
  max-width: 25rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contact-section form label {
  color: var(--c-text-light);
  margin-bottom: 5px;
}

.contact-section form #email {
  margin-bottom: 1.5rem;
}

.contact-section form input,
.contact-section form textarea {
  width: 100%;
  border: none;
  outline: none;
  background-color: #161616;
  border: 1px solid #161616;
  color: var(--c-text-light);
  padding: .5rem;
  border-radius: 7px;
  font-family: var(--ff-sans);
}

.contact-section form input:focus-within,
.contact-section form textarea:focus-within {
  border: 1px solid var(--c-yellow);
}

.contact-section .filled-btn {
  background-color: var(--c-yellow);
  color: #000;
  width: 5rem;
  padding: .35rem .75rem;
  font-size: 1rem;
  font-weight: var(--fw-medium);
  margin-top: 1.5rem;
  cursor: pointer;
  border: 2px solid var(--c-yellow);
}

.contact-section .filled-btn:hover {
  background-color: transparent;
  color: var(--c-text-light);
}

/* ========== Footer Section ========== */
footer {
  background-image: linear-gradient(to bottom, #171717, var(--c-gradient-right));
}

footer,
footer .container a {
  color: var(--c-text-light);
  transition: 150ms ease;
}

footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

footer .container ul {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;

  margin-bottom: 3.375rem;
  gap: 1rem;
}

footer .container ul::after {
  content: "";
  position: absolute;
  bottom: -2rem;
  left: 50%;
  transform: translateX(-50%);
  width: 400%;
  height: 2px;
  background-color: #363636;
}

footer .rights-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

footer .footer-other-links a:hover {
  color: var(--c-yellow);
}

footer .footer-social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2em;
  height: 2em;
  background-color: #1E1E1E;
  border-radius: 50%;
  font-size: 1.5rem;
}

footer .footer-social-links a:hover {
  background-color: #383838;
  color: var(--c-yellow);
}

/* ========== Media Queries ========== */
/* == Small Laptop / Tablet == */
/* - Navigation */
/* - Main Section */
@media (min-width: 44.625rem) {

  /* ========== Navigation ========== */
  .nav-menu {
    display: flex;
    visibility: visible;
    clip-path: none;
    position: initial;
    width: 100%;
    justify-content: center;
    margin-right: 3.375rem;
    background-color: initial;
    backdrop-filter: initial;
    height: 100%;
    flex-direction: row;
  }

  .mobile-nav-toggle {
    display: none;
  }

  .nav-sections,
  .login-options {
    flex-direction: row;
  }

  .nav-sections::after {
    display: none;
  }

  .nav-sections {
    margin-left: auto;
    gap: 2.75rem;
  }

  .nav-sections a,
  .login-options a {
    color: var(--c-text-white);
    /* font-size: 1.25rem; */
  }

  a.active {
    color: var(--c-yellow);
  }

  .active::after {
    background-color: var(--c-yellow);
    bottom: -1rem;
  }

  .login-options {
    margin-left: auto;
    gap: 1.5rem;
  }

  .login-options .filled-btn {
    color: #000;
  }

  .login-options .filled-btn:hover {
    color: var(--c-text-white);
  }

  /* ========== Main Section ========== */
  header {
    position: relative;
  }

  main {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  header::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 35%;
    background-image: linear-gradient(to right, transparent, rgba(2 2 2 / 90%));
    z-index: 10;
  }

  main .laptop-img {
    width: 100%;
    max-width: 74rem;
    margin-right: -10rem;
    margin-top: 0;
  }

  main .laptop-img::before {
    display: none;
  }

  main .desc {
    margin-top: 0;
    text-align: left;
    align-items: flex-start;
  }

  main .desc h2 {
    font-size: 1.5rem;
    margin-bottom: -1rem;
  }

  main .desc h1 {
    font-size: 5rem;
  }

  main .desc .btn-group {
    justify-content: flex-start;
  }

  main .desc .btn-group a {
    text-align: center;
    width: 10rem;
  }

  /* Content Section */

  .page-content {
    position: relative;
    overflow: hidden;
  }

  .page-content::before {
    content: "";
    position: absolute;
    top: 0rem;
    left: -9rem;
    width: 325rem;
    /* height: 59rem; */
    height: 62rem;
    background-image: linear-gradient(to bottom right, var(--c-gradient-left), var(--c-gradient-right));
    transform: rotate(45deg);
    transform-origin: top left;
    z-index: -10;
  }

  .fridge-section,
  .phone-section,
  .game-section {
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
    padding-top: initial;
    padding-bottom: initial;
    /* height: 110vh; */
  }

  .fridge-section .desc,
  .phone-section .desc,
  .game-section .desc {
    max-width: 28rem;
  }

  .fridge-section .desc h2,
  .phone-section .desc h2,
  .game-section .desc h2 {
    font-size: 4.5rem;
    line-height: 60px;
  }

  /* ========== Fridge Section ========== */
  .fridge-section .desc {
    align-items: flex-end;
    text-align: right;
  }

  .fridge-section .desc h2 {
    max-width: 30rem;
  }

  .fridge-section .fridge-img {
    width: 27rem;
    margin-left: -11rem;
    margin-bottom: initial;
  }

  /* ========== Phone Section ========== */
  .phone-section {
    flex-direction: row-reverse;
    background-image: initial;
  }

  .phone-section .desc {
    align-items: flex-start;
    text-align: left;
  }

  .phone-section .desc h2 {
    max-width: 35rem;
  }

  .phone-section .phone-img {
    margin-top: initial;
    margin-bottom: initial;
    width: 22rem;
    margin-right: -10rem;
  }

  /* ========== Game Section ========== */
  .game-section .desc {
    --clr-d: var(--c-text-light);
    align-items: flex-end;
    text-align: right;
  }

  .game-section .desc h2 {
    max-width: 30rem;
  }

  .game-section .game-img {
    margin-top: initial;
    margin-bottom: initial;
    width: 75rem;
    margin-left: -55rem;
  }

  /* ========== Testimonials ========== */
  .testimonials-section .desc h2 {
    font-size: 4rem;
    max-width: 40rem;
    line-height: 70px;
  }
}

/* X -Diagonal */
@media (min-width: 46.875rem) {
  .page-content::before {
    top: 0;
    left: -16rem;
  }
}

/* X -Diagonal */
@media (min-width: 60rem) {
  .page-content::before {
    top: 0;
    left: -6rem;
  }
}

/* X -Diagonal */
@media (min-width: 75rem) {
  .page-content::before {
    top: -10rem;
    left: -5rem;
  }
}

/* X -Diagonal */
@media (min-width: 101rem) {
  .page-content::before {
    top: -10rem;
    left: 8rem;
  }
}

/* X -Diagonal */
@media (min-width: 126rem) {
  .page-content::before {
    top: -20rem;
    left: 16rem;
  }
}

/* X -Diagonal */
@media (min-width: 162.5rem) {
  .page-content::before {
    top: -25rem;
    left: 25rem;
  }
}

/* - Container */
@media (min-width: 102.5rem) {

  /* Helper */
  .container {
    padding: 0;
  }
}

/* == Small Desktop == */
/* - Footer */
@media (min-width: 53.125rem) {
  footer {
    background-image: linear-gradient(to bottom right, #171717, var(--c-gradient-right));
  }

  footer .container {
    display: grid;
    justify-content: space-between;
    grid-template-areas: "terms rights social";
  }

  footer .container ul {
    margin-bottom: initial;
    flex-direction: row;
  }

  footer .container ul::after {
    display: none;
  }

  footer .footer-other-links {
    grid-area: terms;
  }

  footer .rights-group {
    grid-area: rights;
    flex-direction: row;
  }

  footer .footer-social-links {
    grid-area: social;
  }

  footer .footer-social-links a {
    font-size: 1rem;
  }

  footer .footer-social-links a:hover {
    transform: translateY(-5px);
  }

  footer .rights-group p:first-child {
    /* background-color: red; */
    position: relative;
  }

  footer .rights-group p:first-child::after {
    content: "";
    position: absolute;
    top: 0;
    right: -.55rem;
    width: 2px;
    height: 100%;
    background-color: var(--c-text-light);
    opacity: .50;
  }
}

/* - Main Section */
@media (min-width: 75rem) {
  header {
    height: 100vh;
  }

  main {
    height: calc(100vh - 5.875rem);
    position: relative;
    bottom: 0;
  }

  main .desc h2 {
    font-size: 2rem;
    margin-bottom: -2rem;
  }


  main .desc h1 {
    font-size: 10rem;
  }
}


/* == Smaller - Mobile == */
@media (max-width: 28.125rem) {

  .fridge-section .desc h2,
  .phone-section .desc h2,
  .game-section .desc h2,
  .testimonials-section .desc h2 {
    font-size: 3rem;
    line-height: 2.625rem;
  }

  .page-content {
    overflow-x: hidden;
  }
}

@media (max-width: 20rem) {

  .game-section .game-img {
    width: 15rem;
    margin-top: -5rem;
  }

  .contact-section h2 {
    font-size: 2.5rem;
  }
}

@media (max-width: 17rem) {
  main .desc .btn-group {
    flex-direction: column;
  }
}
